*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.header {
    position: relative;
    width: 100%;
}

.phone_image {
    width: 100%;
    height: 100vh;
}

.sim-slider-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

.sim-slider-element {
    width: 100%;
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
}

.header__container {
    position: absolute;
    top: 0;
    z-index: 3;
    max-width: 1580px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.header__navigation {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.header__phone {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 347px;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background: #27214A;
    color: white;
    box-shadow: 0px 0px 15px rgba(72, 72, 76, 0.25);
}

.header__phone > a {
    display: flex;
    font-family: 'Futura PT', sans-serif;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    line-height: 33px;
    text-decoration: none;
    color: #fff;
}

.header__phone > a > span {
    margin-left: 22px;
}

.header__burger {
    position: relative;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 10px;
    margin-left: 29px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.header__burger::before,
.header__burger::after {
    content: '';
    background-color: #27214A;
    position: absolute;
    width: 33px;
    height: 2.58px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__burger span {
    position: absolute;
    background-color: #27214A;
    width: 33px;
    height: 2.58px;
    top: 43px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__burger::before {
    top: 17.9px;
}

.header__burger::after {
    bottom: 0;
}

.header_menu {
    position: absolute;
    right: 0;
    top: 100px;
    max-width: 300px;
    background-color: #fff;
    height: 620px;
    width: 100%;
    z-index: 4;
    display: none;
}

.header_menu.active {
    display: block;
    animation: animation .5s linear;
}

@keyframes animation {
    0% { transform: translateX(100px); opacity: 0;}
    50% {transform: translateX(50px); opacity: 0.5;}
    100% {transform: translateX(0px); opacity: 1;}
}

.menu {
    list-style: none;
}

.links {
    margin-top: 30px;
    margin-left: 40px;
}

.menu-link {
    font-family: 'Futura PT', sans-serif;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    line-height: 33px;
    text-decoration: none;
    color: #27214A;
}

.header_triangle {
    position: absolute;
    top: 0;
    z-index: 2;
    border-top: 316px solid white; 
	border-right: 937px solid transparent;	
}

.header__text {
    max-width: 700px;
    width: 100%;
    padding-top: 281px;
}

.header__text > h1 {
    font-family: 'Futura PT', sans-serif;
    font-size: 52px;
    font-weight: 700;
    font-style: normal;
    line-height: 62px;
    color: #212529;
}

.header__text > p {
    padding-top: 25px;
    font-family: 'Futura PT', sans-serif;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    line-height: 35.9px;
    color: #454545;
}

.header__button {
    margin-top: 40px;
    max-width: 233px;
    width: 100%;
    height: 45px;
    background: #27214A;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(72, 72, 76, 0.25);
}

.header__button > a {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Futura PT', sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 23.08px;
}

.button_slide {
    margin-top: 46px;
    max-width: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sim-slider-arrow-left,
.sim-slider-arrow-right {
    width: 45px;
    height: 45px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    cursor: pointer;
}

.sim-slider-arrow-left > span,
.sim-slider-arrow-right > span {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__vector {
    max-width: 540.88px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
}

/* Scetction information */

.section {
    position: relative;
    width: 100%;
}

.section__container {
    max-width: 1580px;
    width: 100%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
}

.section__photo {
    max-width: 671px;
    width: 100%;
    background: url(../images/photo1.jpg) center no-repeat;
    background-size: cover;
    height: 522px;
    box-shadow: 0 0 8px 8px white inset;
}

.section__description {
    max-width: 805px;
    width: 100%;
}

.section__description > h1 {
    width: 194px;
    font-family: 'Futura PT', sans-serif;
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    line-height: 61.54px;
    color: #212529;
}

.section__description > p {
    padding-top: 30px;
    font-family: 'Futura PT', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
    color: #434040;
}

.section__description > p > strong {
    font-weight: 700;
}

.section__cols__company {
    padding-top: 68px;
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__cols {
    width: 77px;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #454547;
}

.section__cols + div {
    max-width: 210px;
    width: 100%;
    font-family: 'Futura PT', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
    color: #434040;
}

.section__our_service {
    max-width: 1580px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Futura PT', sans-serif;
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    line-height: 62px;
    color: #212529;
}

.service {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.service__card {
    max-width: 775px;
    width: 100%;
    height: 321px;
    display: flex;
    border-radius: 10px;
}

.card__min {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 507px;
    width: 100%;
}

.service__description {
    max-width: 454px;
    width: 100%;
    background-color: #27214A;
    transition: transform .2s linear;
}

.service__description_min {
    max-width: 355px;
    width: 100%;
    background: #467992;
    transition: transform .2s linear;
    overflow: hidden;
}

.blue_description {
    display: block;
    margin-top: 50px;
    margin-left: 29px;
    width: 286px;
    font-family: 'Futura PT', sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    line-height: 35.9px;
    color: #FFFFFF;
}

.green_description {
    background-color: #225238;
    overflow: hidden;
}

.big_img {
    width: 321px;
}

.small_img {
    width: 152px;
}

.min_svg {
    position: relative;
    top: 9px;
}

.first_text {
    max-width: 352px;
    width: 100%;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Futura PT', sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    line-height: 36px;
    color: #FFFFFF;
}

.service__card:hover > .service__description {
    transform: scale(1.2, 1);
    transition: transform .2s linear;
}

.card__min:hover > .service__description_min {
    transform: scale(1.2, 1);
    transition: transform .2s linear;
}

.new__text_card {
    display: block;
    width: 379px;
    padding-left: 50px;
    padding-top: 50px;
    font-family: 'Futura PT', sans-serif;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    line-height: 36px;
    color: #FFFFFF;
}

.green_description > div {
    width: 355px;
    margin-left: 87px;
} 

.block3 {
    width: 152px;
    background: url(../images/block3.png) 80% 40% no-repeat;
    background-size: cover;
}

.block4 {
    width: 152px;
    background: url(../images/block4.jpg) 10% 40% no-repeat;
    background-size: cover;
}

.orange {
    background: #A67B49;
}

.orange_description {
    display: block;
    margin-top: 89px;
    margin-left: 47px;
    width: 286px;
    font-family: 'Futura PT', sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    line-height: 35.9px;
    color: #FFFFFF;
}

.reverse {
    flex-direction: column;
    overflow: hidden;
}

.reverse:hover > .red_description {
    transform: scale(1, 1.2);
    transition: transform .2s linear;
}

.block5 {
    height: 152px;
    background: url(../images/block5.png) no-repeat;
}

.red_description {
    background: #462027;
    font-family: 'Futura PT', sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    line-height: 35.9px;
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 82px;
    padding-left: 50px;
    transition: transform .2s linear;
}

.black__green {
    background: #1D3A3A;
}

.six_text {
    display: block;
    font-family: 'Futura PT', sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    line-height: 35.9px;
    color: #FFFFFF;
    padding-top: 109px;
    padding-left: 52px;
}

.gray_description {
    background-color: #617781;
    overflow: hidden;
}

.section__advantage {
    text-align: center;
}

.advantage {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.advantage__block {
    max-width: 775px;
    width: 100%;
    margin-top: 30px;
}

.advantage__block__content {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}

.advantage__block__content > p {
    max-width: 525px;
    width: 100%;
    font-family: 'Futura PT', sans-serif;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    line-height: 35.9px;
    color: #434040;
}

.open_block {
    cursor: pointer;
}

#box {
    font-family: 'Futura PT', sans-serif;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    line-height: 35.9px;
    color: #434040;
    animation: animationOpen .2s linear;
}

#box2 {
    font-family: 'Futura PT', sans-serif;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    line-height: 35.9px;
    color: #434040;
    animation: animationOpen .2s linear;
}

#box3 {
    font-family: 'Futura PT', sans-serif;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    line-height: 35.9px;
    color: #434040;
    animation: animationOpen .2s linear;
}

#box4 {
    font-family: 'Futura PT', sans-serif;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    line-height: 35.9px;
    color: #434040;
    animation: animationOpen .2s linear;
}

@keyframes animationOpen {
    0% { transform: translateX(-100px); opacity: 0;}
    50% {transform: translateX(-50px); opacity: 0.5;}
    100% {transform: translateX(0px); opacity: 1;}
}


.section__feeadback {
    position: relative;
    width: 100%;
    background: linear-gradient(180deg, #27214A 0%, rgba(118, 110, 162, 0) 100%), #27214A;
    box-shadow: 0px 0px 15px rgba(67, 64, 64, 0.25);
}

.feadback {
    padding-top: 80px;
    padding-bottom: 80px;
}

.contacts {
    max-width: 731px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.contacts > h2 {
    font-family: 'Futura PT', sans-serif;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    line-height: 62px;
    color: #212529;
    padding-left: 69px;
    padding-top: 80px;
}

.contacts > ul {
    padding-top: 30px;
    padding-left: 69px;
    list-style: none;
}

.contacts > ul > li {
    margin-top: 11px;
    font-family: 'Futura PT', sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    line-height: 31px;
    color: #434040;
}

.contacts > ul > li:last-child {
    padding-bottom: 106px;
}

.form {
    max-width: 707px;
    width: 100%;
}

.form__text {
    font-family: 'Futura PT', sans-serif;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    line-height: 36px;
    color: #FFFFFF;
}

input[type="text"] {
    margin-top: 30px;
    max-width: 456px;
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'Futura PT', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 28px;
}

form > p {
    padding-top: 26px;
    font-family: 'Futura PT', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 28px;
    color: white;
}

form > p > label {
    padding-bottom: 20px;
}

textarea {
    width: 457px;
    height: 92px;
    background: transparent;
    border: 0.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    font-family: 'Futura PT', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 28px;
    color: white;
}

input[type="submit"] {
    margin-top: 40px;
    max-width: 232px;
    width: 100%;
    height: 45px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: 'Futura PT', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 23px;
    color: #434040;
    cursor: pointer;
}

.feadback__svg {
    position: absolute;
    right: 0;
    top: 56px;
}

.section__map {
    position: relative;
    width: 100%;
}

.mymap {
    height: 386px;
}

.footer {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #49484C 0%, rgba(127, 125, 131, 0) 100%), #49484C;
}

.footer__container {
    position: relative;
    padding-top: 60px;
    padding-bottom: 130px;
    display: block;
}

.footer_text {
    font-family: 'Futura PT', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 23px;
    color: #FFFFFF;
}

.footer__list {
    padding-top: 30px;
    max-width: 1130px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.block__list > ul {
    list-style: none;
}

.block__list > ul > li {
    padding-top: 18px;
    font-family: 'Futura PT', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 21px;
    color: #FFFFFF;
}

.footer__links {
    position: absolute;
    max-width: 265px;
    width: 100%;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding-bottom: 109px;
}

.link {
    width: 47px;
    height: 47px;
    background: #626161;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__anchor {
    position: absolute;
    width: 69px;
    height: 69px;
    background: #626161;
    border: 1.175px solid #FFFFFF;
    right: 59px;
    bottom: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__anchor > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-family: 'Futura PT', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 18px;
    color: #FFFFFF;
}